/***** Category pages *****/
.category {
  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    @include desktop {
      flex: 0 0 80%;
    }

    flex: 1;
  }
}

.section-tree {
  /* @include tablet { flex-direction: row; } */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .section {
    @include tablet { flex: 0 0 45%; /* Two columns for tablet and desktop. Leaving 5% separation between columns */ }
    flex: initial;
    border-bottom: 1px solid #E8ECF3;
    padding-bottom: 32px;
    margin-bottom: 32px;
    &:last-child {
      border : 0 none;
    }
  }

  &-title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: $font-weight-semibold;

    a { 
      color: $text_color; 
      font-size: 1.333em;
      line-height: 1.55em;
      margin: .5rem 0 1rem;
      font-weight: 300;
    }
  }

  .see-all-articles {
    display: block;
    padding: 15px 0;
  }
}

.article-list {
  &-item {
    font-size: 18px;
    margin: 16px 0;
    &:before {
      content: "\2022";
      color: #2669EE;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }

    a { color: #2669EE; }
  }
}

.icon-star {
  color: $brand_color;
  font-size: 18px;
}
