/***** Hero component *****/
.hero {
  background-image: url($homepage_background_image);
  background-position: center;
  background-size: cover;
  height: 500px;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  &-inner {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    max-width: 610px;
    margin: 0 auto;
    h1 {
      line-height: 1.0;
      margin: 5px 0;
      font-size: 48px;
      font-weight: 300;
      color: rgba(0,0,0,0.87);
    }
    span {
      color: rgba(0,0,0, 0.87);
      display: block;
      line-height: 1.2;
      margin-top: 20px;
    }
  }
}
