/***** Hero component *****/
.hero {
  background-image: url($homepage_background_image);
  background-position: center;
  background-size: cover;
  height: 500px;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  &-inner {
    @include vertical-align;
    max-width: 610px;
    margin: 0 auto;
    h1 {
      line-height: 1.0;
      margin: 5px 0;
      font-size: 38px;
    }
    span {
      color: #777;
    }
  }
}
