/***** Search field *****/
.search {
  position: relative;

  input[type="search"] {
    border: 1px solid $border-color;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
    height: 46px;
    padding-left: 45px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;
    font-size: 20px;

    [dir="rtl"] & {
      padding-right: 40px;
      padding-left: 20px;
    }

    &:focus {
      border: 1px solid $brand_color;
      color: $field-text-focus-color;
    }
  }

  &-full input[type="search"] {
    border: 1px solid #000;
  }
}

.search-icon {
  @include vertical-align;
  position: absolute;
  left: 15px;
  z-index: 1;
  width: 20px;
  height: 20px;
  color: #777;

  [dir="rtl"] & {
    right: 15px;
    left: auto;
  }
}

.search-container {
  position: relative;
}
